.custome-bg {
    background: radial-gradient(95.56% 95.56% at 50% 50%, #fff 0, #bddeff 100%);
    overflow: hidden;
    transition: 0.6s;
}
.custome-bg:hover {
        transform: scale(1.2);
}
select {
    background-color: #edf3f8;
    border: none;
    width: 400px;
    height: 50px;
    border-radius: 3px;
    color: rgba(0,0,0,0.9);
    margin-left:5px;
    font-weight: 400;
    font-size: 24px;
    text-transform: capitalize;
    border-radius: 10px;
    background-size: 15px;
    background-position: 5% 50%;
    color: #4f4f4f;
    background-repeat: no-repeat;
}
select:focus-visible {
    width: 450px;
    transition: 0.3s;
    outline: none;
}